<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Smoke</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseUITest.setUp()[pri:0, instance:tests.PositiveLoginTest@6b67034]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-1@119775046</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseUITest.setUp()[pri:0, instance:tests.NegativeLoginTest@16267862]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-2@84025326</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseUITest.setUp()[pri:0, instance:tests.SearchItemTest@453da22c]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-3@726423946</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseUITest.setUp()[pri:0, instance:tests.AddressTest@71248c21]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-4@1073800026</td>   <td></td> </tr>
<tr bgcolor="819b92">  <td>21/03/26 15:00:18</td>   <td>1847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddressTest.addAddress()[pri:0, instance:tests.AddressTest@71248c21]">addAddress</td> 
  <td>TestNG-test=FinalAutomationProject-4@1073800026</td>   <td></td> </tr>
<tr bgcolor="918ec4">  <td>21/03/26 15:00:18</td>   <td>1847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchItemTest.searchItem()[pri:0, instance:tests.SearchItemTest@453da22c]">searchItem</td> 
  <td>TestNG-test=FinalAutomationProject-3@726423946</td>   <td></td> </tr>
<tr bgcolor="dc939b">  <td>21/03/26 15:00:19</td>   <td>2009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PositiveLoginTest.loginTest(models.LoginModel)[pri:0, instance:tests.PositiveLoginTest@6b67034]">loginTest</td> 
  <td>TestNG-test=FinalAutomationProject-1@119775046</td>   <td></td> </tr>
<tr bgcolor="616362">  <td>21/03/26 15:00:19</td>   <td>2009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NegativeLoginTest.negativeLogin(models.LoginModel)[pri:0, instance:tests.NegativeLoginTest@16267862]">negativeLogin</td> 
  <td>TestNG-test=FinalAutomationProject-2@84025326</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:21</td>   <td>4884</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.flush()[pri:0, instance:tests.SearchItemTest@453da22c]">&lt;&lt;flush</td> 
<td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-3@726423946</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:22</td>   <td>5095</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.cleanUp()[pri:0, instance:tests.SearchItemTest@453da22c]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-3@726423946</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:24</td>   <td>6896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.flush()[pri:0, instance:tests.NegativeLoginTest@16267862]">&lt;&lt;flush</td> 
<td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-2@84025326</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:24</td>   <td>6939</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.cleanUp()[pri:0, instance:tests.NegativeLoginTest@16267862]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-2@84025326</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:24</td>   <td>7704</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.flush()[pri:0, instance:tests.PositiveLoginTest@6b67034]">&lt;&lt;flush</td> 
<td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-1@119775046</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:24</td>   <td>7735</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.cleanUp()[pri:0, instance:tests.PositiveLoginTest@6b67034]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-1@119775046</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:25</td>   <td>8299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.flush()[pri:0, instance:tests.AddressTest@71248c21]">&lt;&lt;flush</td> 
<td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-4@1073800026</td>   <td></td> </tr>
<tr bgcolor="afe4ac">  <td>21/03/26 15:00:25</td>   <td>8323</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseUITest.cleanUp()[pri:0, instance:tests.AddressTest@71248c21]">&lt;&lt;cleanUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=FinalAutomationProject-4@1073800026</td>   <td></td> </tr>
</table>
